.order {
    padding: 30px 0 80px;
    background: url("../img/order-bg.png") no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.order-left {
    max-width: 500px;
    position: relative;
    z-index: 2;
    flex: 1 0 300px;
}

.order-right {
    max-width: 320px;
    margin-top: 65px;
}

.order .container {
    justify-content: space-between;
}

.order-logo {
    display: block;
    max-width: 110px;
    font-size: 18px;
    padding: 8px 0;
    text-align: center;
    background: linear-gradient(135deg, var(--red), var(--orange));
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.order-logo_mobile {
    display: none;
}

.order-logo:hover {
    transform: scale(1.05);
}

.order-title {
    margin: 35px 0;
}

.listTop {
    margin-bottom: 60px;
}

.listTop-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 240px;
    margin-bottom: 17px;
    background-color: #f7f7f7;
    padding: 10px 17px 10px 13px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.listTop-item:hover {
    transform: scale(1.05);
}

.listTop-img {
    margin-right: 15px;
    max-width: 41px;
}

.listTop-text {
    font-weight: 500;
    font-size: 20px;
}

.listBottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 290px;
}

.listBottom-item {
    background: linear-gradient(135deg, var(--red), var(--orange));
    padding: 10px 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 125px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.listBottom-item:hover {
    transform: scale(1.05);
}

.listBottom-item_long {
    max-width: 165px;
}

.listBottom-img {
    margin-right: 9px;
    max-width: 16px;
}

.listBottom-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.order-form {

}

.border-gradient {
    background: linear-gradient(315deg, var(--red), var(--orange));
    padding: 3px;
    position: relative;
    z-index: 2;
}

.order-right.border-gradient {
    background: linear-gradient(315deg, var(--red), var(--orange));
}

.border-gradient_radius {
    border-radius: 10px;
}

.order-form {
    background-color: #ffffff;
    padding: 25px 15px 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
    transition: box-shadow, transform 0.2s ease-in-out;
}

.order-form:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}

.form-title {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.form-title_red {
    color: var(--red);
}

.form-price {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.old-price {
    text-decoration: line-through;
    font-size: 23px;
    font-weight: 400;
    color: #a0b7b4;
    margin-right: 10px;
}

.new-price {
    font-size: 39px;
    font-weight: 800;
    color: var(--orange);
}

.form-timer {
    margin-top: 30px;
}

.timer-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.timerBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.timer-item {
    flex-wrap: wrap;
    width: 80px;
}

.timer-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 500;
    padding: 5px 0;
}

.timer-subtext {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
}

.form-inputs {
    margin-top: 30px;
}

.inputs-text {
    display: block;
    margin: 7px 0;
    font-size: 17px;
    padding-left: 15px;
}

.input-item {
    margin-bottom: 14px;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 17px;
    border: 2px solid #e8e8e8;
}

.input-item_gray {
    background: #f5f5f5;
}

.form-btn {
    background: linear-gradient(var(--red), var(--orange));
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: box-shadow, transform 0.2s ease-in-out;
}

.form-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02)
}

.order-product {
    width: 100%;
    max-width: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.order-product img {
    position: relative;
    bottom: -120px;
    left: -30px;
}

@media screen and (max-width: 991px) {

    .order .container {
        justify-content: center;
    }

    .order-logo {
        display: none;
    }

    .order-logo_mobile {
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }

    .order-left {
        max-width: 490px;
    }

    .order-title {
        font-size: 48px;
        margin-top: 0;
    }

    .order-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .listTop,
    .listBottom {
        margin: 10px 20px 10px 0;
    }

    .listBottom {
        max-width: 240px;
    }

    .listBottom-item {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .order-right {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .order-product {
        position: static;
        margin: 15px auto;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 300px;
    }

    .order-product img {
        left: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .order-form,
    .border-gradient {
        max-width: 320px;
        flex: 1 0 310px;
    }

    .order-right {
        align-items: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {
    .order-left,
    .order-right {
        max-width: 100%;
    }

    .order-list {
        justify-content: center;
    }

    .order-title {
        text-align: center;
    }
}

@media screen and (max-width: 568px) {

    .order {
        padding: 20px 0;
    }

    .order-title {
        margin: 15px 0;
        font-size: 34px;
    }

    .order-product {
        order: 2;
        max-width: 250px;
    }

    .order-right .border-gradient {
        order: 1;
    }

    .order-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .listBottom,
    .listTop {
        max-width: 242px;
        width: 100%;
    }

}

