* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: 1;
}

:root {
    --red: #ff0e1b;
    --orange: #ffa100;
    --yellow: #ffe600;
    --border: #f79581;
    --blue: #1b1fd8;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Regular.woff") format('woff'),
    url("../fonts/raleway/Raleway-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-ExtraLight.woff") format('woff'),
    url("../fonts/raleway/Raleway-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src:  url("../fonts/raleway/Raleway-Italic.woff") format('woff'),
    url("../fonts/raleway/Raleway-Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Medium.woff") format('woff'),
    url("../fonts/raleway/Raleway-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-SemiBold.woff") format('woff'),
    url("../fonts/raleway/Raleway-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Bold.woff") format('woff'),
    url("../fonts/raleway/Raleway-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-ExtraBold.woff") format('woff'),
    url("../fonts/raleway/Raleway-ExtraBold.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Black.woff") format('woff'),
    url("../fonts/raleway/Raleway-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
}

div {
    width: 100%;
}

.wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding: 0 10px;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row {
    width: 100%;
    display: flex;
}

ul {
    list-style: none;
}

h1, h2 {
    font-size: 58px;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
}

h1,h2,h3, p {
    width: 100%;
}

h3 {
    text-transform: uppercase;
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p {
    line-height: 1.2;
}

img {
    display: block;
    width: 100%;
}

.title-white {
    color: #ffffff;
    font-weight: 900;
}

.text-orange {
     color: var(--orange);
     font-weight: 700;
 }

.text-red {
    color: var(--red);
    font-weight: 700;
}

.text-blue {
    color: var(--blue);
}

.text-bold {
    font-weight: 700;
}

input, select, button {
    width: 100%;
    display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    position: relative;
}

.select:before {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 2;
    width: 30px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    transform: rotate(90deg);
    cursor: pointer;
}

.text-fire {
    display: block;
    background: linear-gradient(91deg, var(--red), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 991px) {
    h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 576px) {
    h1, h2 {
        font-size: 32px;
    }
}

