@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .order-subTitle,
    .oldPrice,
    .formBlock-title,
    .formBlock-sale,
    .form-label,
    .label-text,
    .effects-title,
    .effects-img1:after,
    .effects-img3:after {
        color: #608a7e;
    }

    .order-title,
    .newPrice {
        color: #c69ad6;
    }

    .multi {
        background-color: #c69ad6;
    }

    .order-btn {
        background-image: repeating-linear-gradient(45deg, #c69ad6 0px, #c69ad6 5px, #b68cc6 5px, #b68cc6 7px);

    }

    .effects-title_black,
    .text-darkGreen,
    .mistake-title_big,
    .order2-title,
    .order2-subTitle {
        color: #385a50;
    }

    .effects-footer,
    .mistakesItem-title,
    .tired-title,
    .tiredList-item10 {
        color: #a23c59;
    }

    .effects-img {
        flex: 1 0 320px;
    }

    .milti-imgs {
        flex: 1 0 690px;
    }

    .spec-main {
        flex: 1 0 715px;
    }

    .fake-left {
        flex: 1 0 570px;
    }

    .alarm-right {
        flex: 1 0 610px;
    }
}


