.block1 {
	padding-top: 50px;
	background: url("../../assets/imgs/block1__bacground.png") no-repeat center / cover;
	min-height: 750px;

	&__container {
		grid-template-rows: auto 1fr;
	}

	&__main {
		display: grid;
		grid-template: repeat(3, 1fr) / 1fr;
		max-width: 940px;
		align-self: center;
		justify-self: center;
		min-height: 300px;
	}
	
	&__title {
		font-size: 45px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		align-self: start;

		&_color {
			color: $blue__main;
		}
	}
	
	&__subtitle {
		font-size: 20px;
		font-weight: 400;
		text-align: center;
		color: #fff;
		align-self: center;
	}

	&__form {
		align-self: end;
	}
}