.header {
	display: grid;
	grid-template-columns: 115px 1fr 100px;

	&__logo {
		font-size: 37px;
		font-weight: 700;
		color: #fff;
		
		&_color {
			color: $blue__main;
			text-transform: uppercase;
		}
	}
}