@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito/Nunito-Bold.woff") format('woff'),
    url("../fonts/Nunito/Nunito-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito/Nunito-Black.woff") format('woff'),
    url("../fonts/Nunito/Nunito-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito/Nunito-Regular.woff") format('woff'),
    url("../fonts/Nunito/Nunito-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito/Nunito-Light.woff") format('woff'),
    url("../fonts/Nunito/Nunito-Light.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
}

:root {
    --violet: #c69ad6;
    --coldGreen: #608a7e;
    --darkGreen: #385a50
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

div {
    width: 100%;
}

input,
select,
label,
button {
    display: block;
    width: 100%;
}

input,
select,
button {
    padding: 25px;
    border-radius: 30px;
}

.wrapper {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

header {
    background: url("../img/order-bg.png") no-repeat center;
    background-size: cover;
    padding: 75px 0 260px;
}

.order {
    justify-content: space-between;
    position: relative;
}

.order-left {
    flex: 0 0 590px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.titleBlock {
    margin-bottom: 55px;
}

.order-title {
    font-size: 110px;
    font-weight: 900;
    color: var(--violet);
    line-height: 100px;
}

.order-subTitle {
    font-size: 44px;
    font-weight: 700;
    color: var(--coldGreen);
}

.order-info {
    flex: 0 0 330px;
    max-width: 100%;
}

.order-list {
    margin-bottom: 40px;
}

.orderList-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.orderList-img {
    display: block;
    max-width: 35px;
    margin-right: 20px;
}

.orderList-text {
    font-size: 24px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .orderList-text {
        flex: 1 0 0%;
    }
}

.text-black {
    font-weight: 900;
}

.order-prices {
    font-weight: 900;
}

.newPrice {
    color: var(--violet);
}

.newPrices-text {
    font-size: 24px;
}

.newPrices-price {
    font-size: 69px;
    display: block;
}

.oldPrice {
    font-size: 18px;
    color: var(--coldGreen);
    text-decoration: line-through;
}

.order-right {
    flex: 1 0 355px;
    max-width: 385px;
    margin-left: 15px;
}

.formBlock {
    padding: 15px 0 35px;
    background: linear-gradient(90deg, #a7e4d2, #c2eee1, #a7e4d2);
    border: 1px solid #8abfaf;
    border-radius: 20px;
    flex: 1 0 300px;
    max-width: 385px;
}

.formBlock-title,
.formBlock-sale {
    text-align: center;
    font-weight: 900;
    color: var(--coldGreen);
}

.formBlock-title {
    font-size: 30px;
}

.formBlock-sale {
    font-size: 36px;
    background-color: #f0d22b;
    padding: 15px 0;
    line-height: 24px;
    margin-top: 15px;
}

.formBlock-sale__small {
    font-size: 24px;
}

.order-form {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 300px;
    max-width: 300px;
    margin: 15px auto 0;
}

.form-label,
.label-text {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--coldGreen);
}

select, input {
    border: 1px solid #73ab9b;
}

.order-btn {
    margin-top: 20px;
    font-size: 23px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    background-image: repeating-linear-gradient(45deg, #c69ad6 0px, #c69ad6 5px, #b68cc6 5px, #b68cc6 7px);
    border: none;
}

.order-product {
    max-width: 260px;
    width: 100%;
    position: absolute;
    left: -5px;
    bottom: -20px;
}

.product-img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.order-product:before,
.order-product:after {
    content: '';
    display: block;
    position: absolute;
}

.order-product:before {
    background: url("../img/product_before.png") no-repeat center;
    width: 285px;
    height: 202px;
    bottom: 115px;
    right: 60px;
    z-index: 1;
}

.order-product:after {
    background: url("../img/product_after.png") no-repeat center;
    width: 200px;
    height: 202px;
    bottom: -20px;
    right: -10px;
    z-index: 3;
}

.effects {
    padding-bottom: 30px;
    background: url("../img/effects-bg.png") no-repeat 0% 0%;
    background-size: 10%;
}

.effects-title {
    text-align: right;
    width: 100%;
    color: var(--coldGreen);
    font-weight: 700;
    font-size: 60px;
    margin: -110px 0 75px;
}

.effects-title_black {
    font-weight: 900;
    display: block;
    color: var(--darkGreen);
}

.effects-texts {
    padding: 0 35px 0;
}

.effects-texts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.effects-text {
    display: block;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 20px;
}

.effects-text_left {
    flex: 1 0 365px;
    max-width: 365px;
}

.effects-text_right {
    flex: 1 0 515px;
    max-width: 515px;
}

.text-darkGreen {
    color: var(--darkGreen);
    font-weight: 900;
}

.effects-imgBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    padding-bottom: 100px;
}

.img {
    display: block;
    width: 100%;
}

.effects-img {
    display: block;
    width: 100%;
    flex: 1 0 60px;
    margin: 0 10px;
}

.effects-img1 {
    max-width: 345px;
    position: relative;
}

.effects-img1:before {
    content: 'кераноциты';
    display: block;
    background: url("../img/effects-before.png") no-repeat 100% 0%;
    background-size: 13px;
    max-width: 200px;
    width: 100%;
    min-height: 95px;
    font-size: 24px;
    position: absolute;
    top: -75px;
    left: 0;
}

.effects-img2 {
    max-width: 190px;
    height: 90%;
}

.effects-img3 {
    max-width: 345px;
    position: relative;
}

.effects-img1:after,
.effects-img3:after {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: var(--coldGreen);
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -60px;
}

.effects-img1:after {
    content: 'здоровая кожа';
}

.effects-img3:after {
    content: 'кожа при псориазе';
}

.imgMiddle {
    display: flex;
    flex-wrap: wrap;
}

.imgMiddle-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #24313c;
    font-size: 20px;
}

.imgMiddle-item1 {
    border-radius: 20px 20px 0 0;
    background-color: #a4ddc2;
}

.imgMiddle-item2 {
    background-color: #e7fbf3;
}

.imgMiddle-item3 {
    background-color: #cdfbe6;
}

.imgMiddle-item4 {
    border-radius: 0 0 20px 20px;
    background-color: #a4ddc2;
}

.effects-footer {
    font-size: 24px;
    text-align: center;
    color: #a23c59;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

.exac {
    background-color: #f7f7f7;
    padding: 170px 0 90px;
    position: relative;
    overflow-x: hidden;
}

.exac:before {
    content: '';
    display: block;
    width: 100%;
    background: url("../img/exac-before.png") no-repeat 0 0;
    height: 157px;
    background-size: 100%;
    position: absolute;
    top: 0;
}

.exac-title {
    font-size: 70px;
    font-weight: 300;
    width: 100%;
    line-height: 1;
    margin-bottom: 50px;
}

.ixac-img {
    max-width: 39px;
    width: 100%;
    margin-right: 30px;
}

.exacList-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.exac-text {
    font-size: 24px;
}

.exac .container {
    z-index: 2;
}

.exac-hand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: -500px;
    margin: auto;
    max-width: 600px;
    width: 100%;
    z-index: 1;
}

.mistakes {
    padding: 170px 0 70px;
    background: url("../img/mistakes-bg.png") no-repeat center;
    background-size: cover;
}

.mistake-title {
    font-size: 57px;
    font-weight: 300;
    text-align: right;
    width: 100%;
    margin-bottom: 150px;
}

.mistake-title_big {
    color: var(--darkGreen);
    font-weight: 900;
    font-size: 96px;
    display: block;
    text-transform: uppercase;
}

.mistakes-list {
    background: linear-gradient(to right, #e0fcf3, #c2ffec);
    border-radius: 30px;
    padding: 50px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 -15px;
    flex-wrap: wrap;
    width: 100%;
}

.mistakes-list:before {
    content: '';
    display: block;
    position: absolute;
    top: -103px;
    right: 0;
    max-width: 227px;
    width: 100%;
    height: 110px;
    background: url("../img/list-before.png") no-repeat;
    background-size: 100%;
}

.mistakesList-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 280px;
    flex: 1 0 195px;
    width: 100%;
    margin: 0 15px;
}

.mistakes-img {
    max-width: 174px;
    display: block;
    margin-bottom: 35px;
}

.mistakesItem-title {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    color: #a23c59;
    font-size: 24px;
    font-weight: 900;
}

.mistakesItem-text {
    font-size: 18px;
    text-align: center;
    max-width: 100%;
}

/*
//
//
//
//
 */
@media screen and (max-width: 991px) {
    header {
        padding: 25px 0 160px;
    }

    .order {
        padding-top: 540px;
    }

    .order-product {
        top: 0;
        left: 0;
        right: 0;
        bottom: initial;
        margin: auto;
    }

    .order-left {
        flex: 0 0 50%;
        max-width: 50%;
        justify-content: center;
    }

    .titleBlock {
        text-align: center;
    }

    .order-title {
        font-size: 80px;
    }

    .order-right {
        flex: 0 0 47%;
        max-width: 47%;
    }

    .effects-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .effects-texts {
        justify-content: center;
    }

    .effects-text {
        max-width: 60%;
    }

    .effects-img1:before {
        max-width: 175px;
    }

    .effects-img1:after, .effects-img3:after {
        font-size: 24px;
    }

    .exac-hand {
        max-width: 500px;
    }

}

@media screen and (max-width: 768px) {
    .order {
        justify-content: center;
    }

    .order-left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .order-right {
        max-width: 385px;
        flex: 1 0 300px;
        margin: 0;
    }

    .effects {
        background: none;
    }

    .effects-text {
        max-width: 85%;
    }

    .effects-img1:before {
        font-size: 18px;
        max-width: 125px;
        min-height: 70px;
        top: -45px;
    }

    .imgMiddle-item {
        font-size: 16px;
    }

    .exac-hand {
        max-width: 390px;
    }

    .exac {
        padding: 50px 0 20px;
    }

    .mistake-title {
        margin-bottom: 100px;
    }

    .mistakes-img,
    .mistakesItem-title {
        margin-bottom: 15px;
    }

    .mistakesList-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 30px;
    }

    .mistakes-list {
        margin: 0;
        padding: 50px 20px 20px;
    }

}

@media screen and (max-width: 576px) {
    .order-title {
        font-size: 65px;
    }

    label, button {
        width: 95%;
        margin: 10px auto;
    }

    .effects-imgBlock {
        margin: 0 -10px;
        padding-bottom: 60px;
    }

    .imgMiddle-item {
        font-size: 12px;
    }

    .effects-title {
        font-size: 34px;
        margin-bottom: 15px;
    }

    .effects-texts {
        padding: 0 10px;
    }

    .effects-text {
        max-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .effects-img1:before {
        width: 90%;
        font-size: 10px;
        top: -25px;
        min-height: 40px;
        background-size: 8px;
    }

    .effects-img1:after, .effects-img3:after {
        font-size: 16px;
        bottom: -40px;
    }

    .exac-title {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .exac-hand {
        display: none;
    }

    .mistakes {
        padding: 30px 0;
    }

    .mistake-title_big {
        font-size: 60px;
    }

}