* {
	box-sizing: border-box;
}

body, div, section, header, footer, nav, p, h1, h2, h3, h4, h5, h6, ul, ol, li, input, select, button, form, label, img {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
