.comments {
	padding: 30px 0 70px;
	background-color: #fff;
	
	&__title {
		text-transform: none;
		text-align: center;
	}

	&__item {
		padding: 30px 20px 50px;
		border: 2px solid $cyan;
		margin: 15px;

		&_active {
			background-color: $blue__light;
		}

	}

	&__avatar {
		max-width: 138px;
		margin-bottom: 30px;
	}
	
	&__name {
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
	}
}

@media screen and (max-width: 991px){
	.comments {
		padding: 10px 0 30px;
	}
}
@media screen and (max-width: 576px){
	.comments {

		&__item {
			padding: 20px 10px;
		}
		&__text {
			font-size: 16px;
		}
	}
}