.expert {
	background: url("../../assets/img/expert__background.jpg") no-repeat center / cover;
	padding: 75px 0;

	&__container {
		max-width: 1235px;
	}

	&__title,
	&__text,
	&__info {
		text-align: right;
	}

	&__title {
		text-transform: none;
	}

	&__text {
		font-size: 21px;
		margin-bottom: 20px;
	}

	&__info {
		color: $red;
		max-width: 415px;
	}

	&__name {
		font-size: 21px;
		font-weight: 700;
	}

	&__prof {
		font-size: 18px;
		font-weight: 400;
		font-style: italic;
	}

	&__img {
		position: absolute;
		bottom: -82px;
		left: 50%;
		max-width: 444px;
		transform: translateX(-125%);
	}
}

.card {
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	padding: 70px 40px 25px;
	border: 7px solid $cyan;

	&__container {
		max-width: 670px;
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}
}

.sign {
	max-width: 160px;
	margin-right: 30px;
}

@media screen and (max-width: 1200px) {
	.expert {
		&__img {
			bottom: 0;
			max-width: 320px;
			transform: translateX(-170%);
		}
	}
}

@media screen and (max-width: 991px) {
	.expert {
		padding: 30px 15px;

		&__title,
		&__text,
		&__info {
			text-align: left;
		}

		&__img {
			display: none;
		}

		&__info {
			order: 1;
			margin: 10px 10px 10px 0;
			flex: 1 0;
		}

		.sign {
			order: 2;
		}

	}

	.card {
		padding: 30px 15px;
		background: rgba(255, 255, 255, .8);

		&__container {
			max-width: 100%;
		}

		&__footer {
			justify-content: flex-start;
		}
	}
}

@media screen and (max-width: 576px){
	.expert {
		padding: 30px 0;

		&__text {
			font-size: 16px;
		}
	}
}