footer {
	font-size: 24px;
	font-weight: 800;
	text-align: center;
	position: relative;
	padding: 20px 0;
	z-index: 3;
}

@media screen and (max-width: 1200px) {
	footer {
		font-size: 20px;
		font-weight: 400;
		padding: 15px 0;
	}
}