.help {
	background-color: #fff;
	position: relative;
	padding: 120px 0 70px;

	&__container {
		position: static;
		display: block;
	}

	&__title {
		line-height: 1;
		text-transform: none;
		max-width: 730px;
	}

	&__text {
		font-size: 21px;
		max-width: 650px;
		margin-bottom: 25px;

		&_color {
			font-weight: 600;
			color: $red;
			max-width: 540px;
		}
	}

	&__product {
		position: absolute;
		right: 50%;
		bottom: 0;
		max-width: 456px;
		z-index: 2;
		transform: translateX(80%) translateY(15%);
	}

	&__img {
		position: absolute;
		right: 50%;
		bottom: 0;
		max-width: 382px;
		transform: translateX(155%);
	}
}

@media screen and (max-width: 1200px) {
	.help {
		&__img {
			transform: translateX(160%);
		}

		&__product {
			transform: translateX(120%) translateY(15%);
		}
	}
}

@media screen and (max-width: 991px) {
	.help {
		padding: 30px 0;

		&__container {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		&__img {
			display: none;
		}

		&__title,
		&__text,
		&__text_color {
			max-width: 100%;
		}

		&__text,
		&__text_color {
			font-size: 20px;
		}

		&__product {
			position: relative;
			right: 0;
			bottom: 0;
			max-width: 100%;
			margin: 10px auto;
			transform: none;

			img {
				max-width: 380px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.help {
		&__title,
		&__text {
			display: none;

		}

		&__text_color {
			display: block;
		}
	}
}