.how {
	padding: 50px 0;
	background-color: $grey__light;
	position: relative;
	z-index: 4;

	&__header {
		margin-bottom: 60px;
	}

	&__title {
		max-width: 780px;
		margin: 0 auto 20px;
		text-align: center;
	}
	
	&__text {
		font-size: 21px;
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__item {
		background-color: #fff;
		padding: 20px;
		max-width: 350px;
		margin: 15px;
		border: 2px solid $cyan;
	}

	&__item-img {
		width: auto;
		max-width: 100%;
		max-height: 170px;
		margin: 0 auto 30px;
	}

	&__item-title {
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 900;
		color: #000;
		margin-bottom: 15px;
	}

	&__item-text {
		font-size: 18px;
	}
}

@media screen and (max-width: 991px){
	.how {
		padding: 30px 0;

		&__header {
			margin-bottom: 30px;
		}
	}
}