.life {
	background: url("../../assets/img/life__background.jpg");
	padding: 70px 0;

	&__title {
		text-align: center;
		text-transform: none;
		margin-bottom: 90px;
	}

	&__title-color {
		color: $orange;
	}

	&__product {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 254px;
		transform: translateX(-33%) translateY(-65%);

		&:before {
			background: none;
		}

		img {
			animation: productMove 10s ease-in-out infinite;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		max-width: 360px;
		margin-bottom: 40px;

		&_first {
			text-align: right;

			.life__item-title:after {
				background: url("../../assets/img/life__line1.png") no-repeat center;
				width: 548px;
				transform: translateX(-30px);
			}
		}

		&_second {
			.life__item-title:after {
				background: url("../../assets/img/life__line2.png") no-repeat center;
				width: 577px;
				transform: translateX(-22%);
			}
		}

		&_third {
			text-align: right;
			max-width: 520px;
			margin-top: 30px;
			padding-left: 80px;

			.life__item-title:after {
				background: url("../../assets/img/life__line3.png") no-repeat center;
				width: 500px;
				height: 122px;
				transform: translateY(-66%)
			}
		}
	}

	&__item-title {
		font-size: 21px;
		font-weight: 900;
		position: relative;
		max-width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;

		&:after {
			content: '';
			background-size: 100%;
			position: absolute;
			height: 118px;
			display: block;
			z-index: 2;
		}
	}

	&__item_number {
		font-size: 36px;
		font-weight: 900;
		color: $orange;
	}

	&__item-text {
		font-size: 19px;
	}

	&__img {
		max-width: 249px;
		margin-bottom: 30px;
		transform: translateX(-30%);
	}
}

@media screen and (max-width: 1100px) {
	.life {
		&__item-title {
			padding-bottom: 0;

			&:after {
				display: none;
			}
		}

	}
}

@media screen and (max-width: 991px) {
	.life {
		padding: 30px 0;

		&__container {
			justify-content: center;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__list {
			justify-content: space-around;
			margin-bottom: 20px;
		}

		&__item {
			max-width: 100%;
			margin: 15px;

			&_third {
				max-width: 100%;
				padding: 0;
			}

			&_fours {
				display: flex;
				justify-content: center;
			}
		}

		&__img {
			display: none;
		}

		&__product {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.life {
		display: none;
	}
}