.nobody {
	background-color: #fff;
	padding: 70px 0;

	&__header,
	&__list {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__header {
		margin-bottom: 40px;
	}

	&__header-item {
		max-width: 715px;
		margin-right: 10px;
		flex: 1 0;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 700;
		color: $red;
		margin-bottom: 25px;
	}

	&__title {
		line-height: 1;
		text-transform: none;
	}

	&__text {
		font-size: 24px;
		margin-top: 50px;
	}

	&__img-block {
		max-width: 350px;
		flex: 1 0;
	}

	&__list {
		justify-content: space-around;
	}

	&__item {
		position: relative;
		max-width: 535px;
		height: 324px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
		align-items: flex-end;
		margin: 15px;
		padding: 30px;
		overflow: hidden;
	}

	&__item-title {
		font-size: 24px;
		color: $red;
		text-shadow: 0 0 3px #000;
		position: relative;
		margin-bottom: 25px;
		z-index: 3;
	}

	&__item-text {
		font-size: 21px;
		font-weight: 600;
		color: #fff;
		position: relative;
		z-index: 3;
	}

	&__item-img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

}

@media screen and (max-width: 991px){
	.nobody {
		padding: 30px 0;

		&__header {
			margin-bottom: 20px;
		}

		&__header-item {
			max-width: 100%;
			flex: 1 0 100%;
		}

		&__text {
			margin-top: 20px;
		}

		&__img-block {
			display: none;
		}
	}
}

@media screen and (max-width: 768px){
	.nobody {
		&__item {
			display: none;

			&:first-child {
				display: flex;
			}
		}
	}
}

@media screen and (max-width: 576px){
.nobody {
	&__item {
		padding: 15px;
	}

	&__item-title {
		margin-bottom: 15px;
	}
	&__item-text {
		font-size: 16px;
	}
}
}