.order {
	background: url("../../assets/img/order__background.jpg") no-repeat 50% 100% / cover;
	position: relative;
	padding: 55px 0 180px;

	&__container {
		position: static;
		justify-content: space-between;
	}

	&__item {
		position: relative;

		&_left {
			position: static;
			max-width: 600px;
			z-index: 3;
		}

		&_product {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 576px;
			transform: translateX(-50%) translateY(-20%);
		}

		&_right {
			max-width: 360px;
			z-index: 3;
		}
	}

	&__title {
		margin-bottom: 200px;

		&:after {
			content: '';
			background: url("../../assets/img/title__background.png") no-repeat center / 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 830px;
			height: 600px;
			display: block;
			transform: translateY(-66%) translateX(-117%);
		}
	}
}

.list {
	position: relative;
	max-width: 330px;
	margin-left: 30px;
	z-index: 3;

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	&__img {
		width: auto;
		max-width: 100%;
		margin-right: 15px;
	}

	&__text {
		font-size: 24px;
		font-weight: 600;
	}
}

@media screen and (max-width: 991px) {
	.order {
		padding: 30px 0;
		background-position: 50% 100%;
		background-size: cover;

		&__container {
			align-items: center;
		}

		&__title {
			margin-bottom: 20px;

			&:after {
				display: none;
			}
		}

		&__item_left {
			flex: 1 0;
		}

		&__item_product {
			position: relative;
			top: 0;
			left: 0;
			flex: 1 0;
			transform: none;
		}

		&__product {

			&:before {
				background-size: contain;
				width: 100%;
				max-width: 100%;
			}


		}

		&__item_right {
			max-width: 100%;
		}
	}

	.list {
		margin-left: 0;
	}
}

@media screen and (max-width: 576px){
	.order {
		&__item {
			&_left,
			&_product {
				flex: 1 0 100%;
				max-width: 100%;
			}
		}
	}

	.list {
		margin: 0 auto;
	}

}