.step {
	background-color: $red;
	padding: 30px 15px;

	&__title {
		color: #fff;
		text-align: center;
		max-width: 991px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.step {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.step {
		padding: 20px 15px;

		&__title {
			font-size: 20px;
		}
	}
}
