.use {
	background-color: $grey__light;
	padding: 80px 0 60px;

	&__title {
		text-align: center;
		text-transform: none;
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	&__item {
		max-width: 350px;
		margin: 15px;
	}

	&__img {
		margin-bottom: 20px;
	}

	&__text {
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		padding: 0 10px;
	}

	&__text-color {
		color: $red;
	}
}

@media screen and (max-width: 768px){
	.use {
		display: none;
	}
}