.work {
	background-color: #fff;
	padding: 70px 0 30px;

	&__title {
		text-align: center;
		text-transform: none;
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__item {
		background-color: $violet;
		max-width: 350px;
		margin: 15px;
		padding: 60px 40px 40px;
		border-radius: 40px;
		box-shadow: 0 0 20px rgba(0, 0, 0, .2);

		&:nth-child(odd) {
			background-color: $blue__light;
		}
	}

	&__img {
		width: auto;
		height: 78px;
		margin: 0 auto 30px;
	}

	&__text {
		font-size: 24px;
		font-weight: 900;
		text-align: center;
	}
}

@media screen and (max-width: 991px) {
	.work {
		padding: 30px 0;

		&__title {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 576px) {
	.work {
		&__text {
			font-size: 18px;
		}
	}
}