.comm {
    background-color: #f7f7f7;
    padding: 60px 0 40px;
}

.comm-title {
    margin-bottom: 35px;
}

.comm-title,
.commItem-title,
.commItem-text {
    text-align: center;
}

.commItem-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.commItem-text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.comm-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.commList-col {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.commList-item {
    max-width: 415px;
    width: 100%;
    margin: 60px auto 30px;
    padding: 70px 40px 40px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: box-shadow, transform 0.3s ease-in-out;
}

.commList-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.comm-star {
    max-width: 170px;
    margin: 0 auto;
}

.avatar {
    max-width: 120px;
    margin: 0 auto 20px;
}

.commList-item-1,
.commList-item-2,
.commList-item-3,
.commList-item-4 {
    position: relative;
}

.commList-item-1:before,
.commList-item-2:before,
.commList-item-3:before,
.commList-item-4:before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    background-size: 100%;
}

.commList-item-1:before {
    background: url("../img/comm-1.png") no-repeat center;
}

.commList-item-2:before {
    background: url("../img/comm-2.png") no-repeat center;
}

.commList-item-3:before {
    background: url("../img/comm-3.png") no-repeat center;
}

.commList-item-4:before {
    background: url("../img/comm-4.png") no-repeat center;
}

@media screen and (max-width: 768px) {
    .commList-col {
        width: 95%;
    }
}

@media screen and (max-width: 576px) {
    .commList-item {
        padding: 80px 20px 40px;
    }
}