@import "~normalize.scss";
@import "scss/commons/fonts";
@import "scss/commons/customReset";
@import "scss/commons/colors";
@import "scss/commons/grid";
@import "scss/commons/mixins";

body {
	font-family: 'Segoe UI', 'Arial', sans-serif;
	line-height: 1.3;
}

/*elements*/
@import "scss/elements/title";
@import "scss/elements/product";
@import "scss/elements/form";
@import "scss/elements/counter";
@import "scss/elements/price";
@import "scss/elements/alarm";

/*blocks*/
@import "scss/blocks/order";
@import "scss/blocks/nobody";
@import "scss/blocks/step";
@import "scss/blocks/help";
@import "scss/blocks/how";
@import "scss/blocks/expert";
@import "scss/blocks/life";
@import "scss/blocks/comments";
@import "scss/blocks/alarm";
@import "scss/blocks/use";
@import "scss/blocks/work";
@import "scss/blocks/footer";

.text {
	&_bold {
		font-weight: 700;
	}
}

.btn {
	display: block;
	max-width: 240px;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	background: linear-gradient($yellow, $red);
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	border: none;
	text-decoration: none;
	animation: btn 4s ease-in-out infinite;
}

/*libs*/
@import "~slick-carousel/slick/slick";
@import "scss/commons/slick-theme_custom";

/*others*/
@import "scss/commons/animation";
@import "scss/commons/forIE";