.socials {
	grid-column: 3/4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 5px;
	align-items: center;

	&__item {
		display: grid;
		justify-items: center;
		align-items: center;
		height: 25px;
		position: relative;
		background: #fff;
		border: 3px solid #fff;
		border-radius: 50%;
	}
}