.order {
    padding: 30px 0 80px;
    background: url("../img/order-bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}

.order-left {
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.order-right {
    max-width: 320px;
    margin-top: 65px;
}

.order .container {
    justify-content: space-between;
}

.order-logo {
    display: block;
    max-width: 100px;
    padding: 8px 9px;
    background: linear-gradient(135deg, #ff0b1c, #ff9902);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

.order-title {
    margin: 35px 0;
}

.listTop {
    margin-bottom: 60px;
}

.listTop-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 240px;
    margin-bottom: 17px;
    background-color: #f7f7f7;
    padding: 10px 17px 10px 13px;

}

.listTop-img {
    margin-right: 15px;
}

.listTop-text {
    font-weight: 500;
}

.listBottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 290px;
}

.listBottom-item {
    background: linear-gradient(135deg, #ff0e1b, #ffa100);
    padding: 10px 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 125px;
}

.listBottom-item_long {
    max-width: 165px;
}

.listBottom-img {
    margin-right: 9px;
}

.listBottom-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.order-form {

}

.border-gradient {
    background: linear-gradient(135deg, #ff0e1b, #ffa100);
    padding: 3px;
    position: relative;
    z-index: 2;
}

.order-right.border-gradient {
    background: linear-gradient(315deg, #ff0e1b, #ffa100);
}

.border-gradient_radius {
    border-radius: 10px;
}

.order-form {
    background-color: #ffffff;
    padding: 25px 15px 15px;
}

.form-title {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.form-title_red {
    color: #ff0e1b;
}

.form-price {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.old-price {
    text-decoration: line-through;
    font-size: 23px;
    font-weight: 400;
    color: #a0b7b4;
    margin-right: 10px;
}

.new-price {
    font-size: 39px;
    font-weight: 800;
    color: #ffa200;
}

.form-timer {
    margin-top: 30px;
}

.timer-title {
    text-align: center;
    font-weight: 700;
}

.timerBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.timer-item {
    flex-wrap: wrap;
    width: 80px;
}

.timer-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 500;
}

.timer-subtext {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
}

.form-inputs {
    margin-top: 30px;
}

.inputs-text {
    display: block;
    margin: 7px 0;
    font-size: 17px;
}

.input-item {
    margin-bottom: 14px;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 17px;
    border: 2px solid #e8e8e8;
}

.input-item_gray {
    background: #f5f5f5;
}

.form-btn {
    background: linear-gradient(#ff0e1b, #ffa100);
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
}

.order-product {
    width: 100%;
    max-width: 360px;
    position: absolute;
    top: 0;
    bottom: -260px;
    left: -60px;
    right: 0;
    margin: auto;
    z-index: 1;
}

@media screen and (max-width: 991px) {

    .order .container {
        justify-content: center;
    }

    .order-logo {
        margin: 0 auto;
    }

    .order-left,
    .order-right {
        max-width: 100%;
    }

    .order-title {
        text-align: center;
    }

    .order-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0
    }

    .listTop {
        margin-bottom: 0;
    }

    .order-right {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .order-product {
        position: static;
        margin: 15px;
    }

    .order-form,
    .border-gradient {
        max-width: 320px;
        flex: 1 0 310px;
    }

    .order-right {
        align-items: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 568px) {
    .order-product {
        order: 2;
    }

    .order-right .border-gradient {
        order: 1;
    }

    .order-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .listBottom,
    .listTop {
        max-width: 310px;
        width: 100%;
    }

}
