.alarm {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 30px;

	&__container {
		background: url("../../assets/img/alarm-bg.jpg") no-repeat 10% 50% / cover;
		position: relative;
		max-width: 1280px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 15px 40px;
		border: 1px solid #ccc;
		border-radius: 10px;

		&:before {
			content: '';
			background: url("../../assets/img/alarm-before.png") no-repeat center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -28px;
			width: 55px;
			height: 49px;
			display: block;
			margin: auto;
		}

		&_color {
			padding: 10px 40px;
			border: none;
		}
	}

	&__left {
		max-width: 260px;
		flex: 1 0 100%;
		margin: 10px 10px 10px 0;
	}

	&__title {
		font-size: 18px;
		font-weight: 800;
		color: #000;

		&_color {
			display: block;
		}
	}

	&__right {
		font-size: 18px;
		font-weight: 400;
		max-width: 750px;
		flex: 1 0 100%;
		margin: 10px 0;
	}
}

@media screen and (max-width: 991px) {
	.wrap .alarm {
		padding: 30px 10px 30px 30px;
	}
}

@media screen and (max-width: 576px) {
	.alarm {
		padding: 30px 10px 30px 30px;

		&__container {
			padding: 15px 15px 15px 30px;
		}

		&__right {
			font-size: 16px;
		}
	}
}