.counter {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;

	&__item {
		text-align: center;
		max-width: 45px;
		margin: 5px;
	}

	&__time {
		font-size: 24px;
		color: #fff;
		background-color: #000;
		padding: 5px 10px;
		border-radius: 5px;
	}

	&__text {
		font-size: 13px;
	}
}