.form {
	background-color: #fff;
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	padding: 35px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);

	&:before {
		content: '';
		background: url("../../assets/img/form__before.png") no-repeat center / auto;
		position: absolute;
		top: -2%;
		right: -65%;
		width: 265px;
		height: 100%;
		display: block;
	}

	&__title {
		font-size: 23px;
		font-weight: 600;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		background-color: $red;
		margin-bottom: 25px;
		padding: 20px 0;
	}

	&__container {
		max-width: 270px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__label {
		margin-bottom: 20px;
	}

	&__input {
		margin-top: 5px;
		padding: 5px 10px;
		border: 3px solid $input__border;
		border-radius: 10px;
	}
}

@media screen and (max-width: 1280px) {
	.form:before {
		display: none;
	}
}

