.prices {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 25px;

	&__old {
		font-size: 16px;
		font-weight: 700;
		color: $input__border;
		text-align: center;
		margin: 5px;
	}

	&__old_line-through {
		text-decoration: line-through;
	}

	&__old-text {
		text-decoration: none;
	}

	&__new {
		font-size: 26px;
		font-weight: 900;
		color: #000;
		text-align: center;
		margin: 0 10px;
	}
}