.product {
	max-width: 576px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: block;
		background: url("../../assets/img/product__background.png") no-repeat center / auto;
		width: 640px;
		height: 100%;

	}

	&__img {
		position: relative;
		z-index: 2;
	}
}