.title {
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;

	&_center {
		text-align: center;
	}
	
	&_red {
		color: $red;
	}

	&_white {
		background: $red;
		color: #fff;
		padding: 0 5px;
	}
	
}

@media screen and (max-width: 991px) {
	.title {
		font-size: 29px;
		margin-bottom: 20px;
	}
}