* {
		box-sizing: border-box;
}

body, div, section, header, footer, nav, p, h1, h2, h3, h4, h5, h6, ul, ol, li, input, select, button, form, label, img {
		width: 100%;
		display: block;
		margin: 0;
		padding: 0;
}

ul {
		list-style: none;
}
