@font-face {
	font-family: 'Segoe UI';
	src: url("../../assets/fonts/SegoeUI.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url("../../assets/fonts/SegoeUI-SemiBold.woff2") format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url("../../assets/fonts/SegoeUI-Bold.woff2") format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url("../../assets/fonts/SegoeUI-Black.ttf") format('opentype');
	font-weight: 900;
	font-style: normal;
}
