@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		select::-ms-expand {
				display: none;
		}
.use__title {
	color: #fff;
	background: none;
}

	.use__btn_border {
		flex: 1 0 100%;
	}

	.list__img {
		height: auto;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (max-width: 991px) {
	.alarm__container {
		justify-content: flex-start;
	}
}