.wrap {
		max-width: 1920px;
		margin: 0 auto;
		overflow: hidden;
}

.container {
		position: relative;
		max-width: 1170px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 0 15px;
}
