@mixin zero {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
}

@mixin absoluteCenter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

@mixin pos-default {
		position: relative;
		@include zero;
}

@mixin mask-image {
		-webkit-mask-image: linear-gradient(black 70%, transparent);
}

@mixin mask-image_sugar {
	-webkit-mask-image: linear-gradient(to right, black 70%, transparent);
}

@mixin mask-image_sugar-background {
	-webkit-mask-image: linear-gradient(transparent 15%, black 50%);
}

@mixin mask-image_warning {
	-webkit-mask-image: linear-gradient(transparent, black, transparent);
}

@mixin mask-image_warning {
	-webkit-mask-image: radial-gradient(black, transparent 75%);
}
