/*slick-theme without fonts*/

$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "" !default;
$slick-next-character: "" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

/* Arrows */

.slick-prev,
.slick-next {
	line-height: 0px;
	color: transparent;
	background: transparent;
	position: absolute;
	top: 60px;
	width: 30px;
	height: 30px;
	display: block;
	padding: 0;
	z-index: 2;
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	border: none;
	outline: none;

	&:hover, &:focus {
		color: transparent;
		outline: none;

		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}

	&:before {
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
	}
}

.slick-prev,
.slick-next {
	border-radius: 50%;
}

.slick-prev {
	left: 40px;
}

.slick-next {
	right: 40px;
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	text-align: center;
	position: absolute;
	bottom: -25px;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		width: 100%;
		max-width: 30px;
		height: 7px;
		display: inline-block;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		border: 1px solid #000;
		border-radius: 10px;

		button {
			line-height: 0;
			color: transparent;
			background: transparent;
			width: 40px;
			height: 6px;
			display: block;
			cursor: pointer;
			border: 0;
			outline: none;

			&:hover, &:focus {
				outline: none;

				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}

			&:before {
				content: $slick-dot-character;
				line-height: 20px;
				color: rgba(255, 255, 255, .00001);
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 6px;
				opacity: $slick-opacity-not-active;
			}
		}

		&.slick-active {
			background: #000;
		}

		&.slick-active button:before {
			color: rgba(255, 255, 255, .00001);
			opacity: $slick-opacity-default;
		}
	}
}

.slick-track .slick-slide > div {
	display: flex;
	justify-content: center;
}