.safe {
    background: url("../img/safe-bg.png") no-repeat 50% 0;
    padding: 80px 0 20px;
}

.safe-title,
.safe-text,
.safeItem-text,
.safeItems-title {
    text-align: center;
}

.safe-title {
     margin-bottom: 50px;
 }

.safe-title span{
    font-weight: 900;
}

.safe-text {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(247, 149, 129, 0.6);
    border: 2px solid var(--border);
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 10px;
    transition: box-shadow 0.2s ease-in-out;
}

.safe-text:hover {
    box-shadow: 0 0 40px rgba(247, 149, 129, 0.9);
}

.safeItems-title {
    display: block;
    font-size: 24px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 70px;
}

.safe-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.safe-item {
    max-width: 300px;
    flex: 1 0 300px;
    margin-bottom: 50px;
}

.safe-item:first-child,
.safe-item:last-child,
.safe-item:nth-child(3n + 1),
.safe-item:nth-child(3n + 3) {
    margin-top: -70px;
}

.safeItem-img {
    margin-bottom: 20px;
}

.safeItem-text {
    font-size: 22px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {

    .safeItems-title {
        margin-bottom: 20px;
    }

    .safe-item:first-child,
    .safe-item:last-child,
    .safe-item:nth-child(3n + 1),
    .safe-item:nth-child(3n + 3),
    .safe-item {
        margin: 15px;
    }

    .safe-list {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .safe {
        padding: 20px 0;
    }

    .safe-title,
    .safe-text {
        margin-bottom: 20px;
    }
}

