.spec {
     padding: 50px 0;
     background: url("../img/spec-bg.png") no-repeat center;
     background-size: cover;
    position: relative;
 }

.spec:before {
    content: '';
    display: block;
    background: url("../img/spec-doc.png") no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    bottom: 0;
}

.spec-block {
    background: url("../img/spec-block.png") no-repeat center;
    background-size: cover;
    padding: 50px;
}

.spec-content {
    max-width: 500px;
    position: relative;
    z-index: 3;
    padding-right: 10px;
}

.spec-title {
    margin-bottom: 40px;
    line-height: 1;
}

.spec-text {
    margin-bottom: 30px;
}

.spec-footer {
    display: flex;
}

.prof {
    font-size: 23px;
    font-weight: 600;
}

.sign {
    max-width: 105px;
    margin-right: 20px;
}

@media screen and (max-width: 991px) {
    .spec:before {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .spec-block {
        padding: 15px 20px;
    }
}